<!DOCTYPE html>
<html lang="en-US">
<script src="script/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<body>

<div class="container">

	<div class="row">
		<div class="col-md-12"><p><h2>Tenant Control panel</h2></p></div>
	</div>
	<div class="row">
		<div class="col-md-12">Tenant List</div>	
	</div>

	<div class="row" ng-app="myApp"  ng-cloak ng-controller="TenantController" ng-init="getTenant()">
		<div class="col-md-12">
				<table class="table table-striped">
						<thead class="thead-inverse">
								<tr>
								  <th>Id</th>
								  <th>Tenant Name</th>
								  <th>Location</th>
								  <th>Contact</th>
								  <th>Action</th>
								</tr>
							  </thead>
						<tr ng-repeat="x in names">
						  <td>{{ x.Id }}</td>
						  <td>{{ x.Name }}</td>
						  <td>{{ x.Location }}</td>
						  <td>{{ x.Email }}</td>
						  <td><button ng-click="deleteTenant(x.Id)">Delete</button><button ng-click="editTenant(x.Id)">Edit</button></td>
						</tr>
					  </table>
		</div>	
		<div class="col-md-6">
		<form>
		<h2>Add / Edit Tenant</h2>
			<div class="form-group">
			  <label for="Name">Tenant Name:</label>
			  <input type="text" class="form-control" id="Name" placeholder="Enter Name" ng-model="Name">
			</div>
			<div class="form-group">
					<label for="Location">Location:</label>
					<select class="form-control" ng-options="item.Location for item in loc" ng-model="Location" ng-init="getLocation()">
							<option value="item.Id" disabled selected>Select Location</option>
					</select>
			</div>

			<div class="form-group">
					<label for="Category">Category:</label>
					<select  class="form-control"  ng-options="item.Category for item in cat" ng-model="Category" ng-init="getCategory()">
							<option value="item.Id" disabled selected>Select Location</option>
					</select>
			</div>
			<div class="form-group">
					<label for="Photo">Photo Filename:</label>
					<input type="text" class="form-control" id="phot" placeholder="Enter Photo" ng-model="Photo">
				  </div>
			<div class="form-group">
					<label for="Email">Email:</label>
					<input type="Email" class="form-control" id="Email" placeholder="Enter Email" ng-model="Email">
			</div>

			<div class="form-group">
					<label for="Description">Description:</label>
					<input type="text" class="form-control" id="description" placeholder="Enter Description" ng-model="Description">
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" name="remember" ng-model="Flag"> Flag</label>
			</div>
			<button type="submit" class="btn btn-default" ng-click="saveTenant()">Submit</button>
		  </form>
		</div> 
		<div class="col-md-6">		  <h1>Hello {{Category}}</h1></div>
	</div>
</div>

<script lang="javascript">

var app = angular.module('myApp', []);

app.controller('TenantController', function($scope, $http) {
	$scope.names;
	$scope.loc;
	$scope.cat;
	// function get list of tenant
	$scope.getTenant = function(){
		$http.get("product.php?list")
		.then(function (response) {$scope.names = response.data.records;});
	};

	// function delete tenant
	$scope.deleteTenant = function(){
		$http.get("product.php")
		.then(function (response) {$scope.names = response.data.records;});
	};

	//function save tenant
	var data = $.param({
                Name: $scope.Name,
				Location: $scope.Location,
				Category: $scope.Category,
				Photo: $scope.Photo,
				Description: $scope.Description,
				Email: $scope.Email,
				Contact: $scope.Contact,
				Flag: $scope.Flag
			});
				
	var config = {
	               headers : {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
            }		
	$scope.saveTenant = function(){
		$http.post('product-save.php', data, config)
		.then(function (response) {  $scope.getTenant();console.log(response.data,response.status); });
	};

	$scope.getLocation = function(){
		$http.get("product.php?loc")
		.then(function (response) {$scope.loc = response.data.records;});
	};

	$scope.getCategory = function(){
		$http.get("product.php?cat")
		.then(function (response) {$scope.cat = response.data.records;});
	};
	
});

</script>

</body>
</html>